.ProgressBar {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ProgressBar--progress {
  height: 100%;
  display: inline-block;
  opacity: 0.2;
  /* transition-duration: 2s; */
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
