h1 {
  font-size: 21px;
}

.card-header {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
}

.card-header,
.card-header button,
.card-header button:hover {
  font-weight: bold;
  color: gray;
}

.card-header h2 {
  z-index: 2;
  position: relative;
}

.card-header button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-header span {
  font-size: 19px;
  line-height: 42px;
}

.results > .card {
  border-left-style: solid;
  border-left-width: 15px;
  /* border-bottom-width: 0px; */
  border-top-width: 0px;
}

b {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.muted {
  color: gray;
}
